---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: GitRepository
metadata:
  name: sqs-app
  namespace: flux-system
spec:
  interval: 5m0s
  url: https://github.com/junglekid/aws-eks-keda-sqs-lab
  ref:
    branch: main
